# Required vars, go to
# https://console.sharetribe.com/applications to generate a new
# application with a client ID and a secret.

SHARETRIBE_INTEGRATION_CLIENT_ID=
SHARETRIBE_INTEGRATION_CLIENT_SECRET=
